.onoffswitch {
  text-align: left;
  position: relative;
  width: 116px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: auto;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  border-radius: 50px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 41px;
  padding: 0;
  line-height: 41px;
  font-size: 25px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "°C";
  padding-left: 14px;
  background-color: #EEEEEE;
  color: #005691;
}

.onoffswitch-inner:after {
  content: "°F";
  padding-right: 14px;
  background-color: #EEEEEE;
  color: #456173;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 38px;
  margin: 1.5px;
  background: #456173;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 71px;
  border: 2px solid #FFFFFF;
  border-radius: 50px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background-color: #005691;
}

